:root{
    --theme-color: #804EDD;
    --theme-hover-color: #733fd4;
}

.learn-title {
    position: relative;
    background-color: transparent;
}

.viewport-div{
    align-items: center;
}

.projects-main-div{
    background-color: transparent;
}

.viewport-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .widget-div {
    position: relative;
    max-width: 80%;
    width: 80%;
    margin-top: 30px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(60, 60, 60);
    border-bottom: 1px solid rgb(60, 60, 60);
    transition: border-top, 250ms, border-bottom 250ms;
    
  }

  .widget-div:hover{
    border-top: 1px solid rgb(80, 80, 80);
    border-bottom: 1px solid rgb(80, 80, 80);
  }
  
  .widget-div button {
    position: relative;
    width: 100%;
    min-height: 34px;
    cursor: pointer;
    border: 0;
    color: white;
    font-size: 22px;
    background-color: transparent;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .widget-div button .plus-span {
    margin-left: auto;
    color: white;
    font-size: 32px;
  }
  
  .description-container {
    background-color: transparent;
    width: 100%;
    border: 1px solid transparent;
    flex-direction: column;
    display: none;
    padding-left: 6px;
  }
  
  .widget-div.active .description-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

.widget-div .description-container p{
    position: relative;
    margin-left: 6px;
    margin-bottom: -5px;
    font-size: 15px;
}